* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 120px 147px;
  font-family: "Open Sans", serif;
  color: white;
  background-color: #0e1414;
  display: flex;
  justify-content: center;
}

.up-section {
  display: grid;
  grid-template-columns: 744px 362px;
  gap: 30px;
  margin-bottom: 240px;
}

.image-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.item-1 {
  grid-row: 1 / 3;
}

.item-2 {
  height: 295px;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.text-content h3 {
  color: #cf1430;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 21px;
  font-weight: lighter;
}

.text-content p:last-child {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  background-color: white;
  margin: 30px 0 30px;
}

.down-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.taste-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 375px;
  justify-content: center;
}

.taste-container img {
  width: 374px;
  height: 297px;
}
.card {
  transition: transform 0.3s ease;
  display: block;
}

.card.hovered {
  transform: scale(1.3);
  border: solid 1px;  
  z-index: 1;
}

.taste-container:hover .card:not(.hovered) {
  filter: blur(3px);
}

.card-text {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0 30px;
  text-align: center;
  font-size: 21px;
  font-weight: lighter;
}

.card-text h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styles for Responsiveness */
/* Medium Divices */
@media (max-width: 1200px) {
  body {
    padding: 80px 100px;
  }
  
  .up-section {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 90px;
  }
  
  .image-container {
    grid-template-columns: 1fr 2fr;
    justify-content: center;
  }

  .down-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .title hr {
    width: 100%;
  }

  .taste-container {
    grid-template-columns: 1fr;
  }
  
  .card.hovered {
    transform: none;
    border: none;
  }

  .taste-container:hover .card:not(.hovered) {
    filter: none;
  }
}

/* Small Devices */
@media (max-width: 800px) {
  body {
    padding: 60px 50px;
  }

  .image-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .text-content {
    width: 80%;
    align-self: center;
  }

}